Repository Folks-Finance/folks-finance-xchain-js-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --cache --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

chore: set prettier path on .vscode settings
  .vscode/settings.json
Due: prettier --write

chore: enforce conventional commits
  .husky/commit-msg
  commitlint.config.js
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

chore: setup package manager using corepack
  package.json
Due: prettier --write

chore: set node version using .nvmrc
  .nvmrc
Due: none

docs: add CONTRIBUTING.md with guidelines for contributors
  CONTRIBUTING.md
Due: none

docs: add CONTRIBUTING.md with guidelines for contributors (#4)
  CONTRIBUTING.md
Due: none

docs: add table of contents on CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: ignore eslintcache
  .gitignore
Due: none

refactor: move bridger router hub contract on hub
  src/chains/evm/util/contract.ts
  src/hub/module/folks-hub-loan.ts
  src/hub/util/contract.ts
Due: eslint --cache --fix, prettier --write

refactor: rename folders in plural
  src/chains/evm/constants/chain.ts
  src/chains/evm/types/chain.ts
  src/chains/evm/types/contract.ts
  src/chains/evm/types/index.ts
  src/chains/evm/types/module.ts
  src/chains/evm/utils/chain.ts
  src/chains/evm/utils/contract.ts
  src/chains/evm/utils/index.ts
  src/chains/evm/utils/provider.ts
  src/common/constants/chain.ts
  src/common/types/address.ts
  src/common/types/chain.ts
  src/common/types/core.ts
  src/common/types/index.ts
  src/common/types/message.ts
  src/common/types/module.ts
  src/common/types/token.ts
  src/common/utils/adapter.ts
  src/common/utils/address.ts
  src/common/utils/bytes.ts
  src/common/utils/chain.ts
  src/common/utils/index.ts
  src/common/utils/messages.ts
  src/hub/constants/chain.ts
  src/hub/modules/folks-hub-account.ts
  src/hub/modules/folks-hub-loan.ts
  src/hub/types/account.ts
  src/hub/types/chain.ts
  src/hub/types/index.ts
  src/hub/types/token.ts
  src/hub/utils/chain.ts
  src/hub/utils/contract.ts
  src/hub/utils/index.ts
  src/index.ts
  src/spoke/evm/modules/folks-evm-account.ts
  src/spoke/evm/modules/folks-evm-loan.ts
  src/xchain/core/folks-core.ts
  src/xchain/modules/folks-account.ts
  src/xchain/modules/folks-loan.ts
Due: eslint --cache --fix, prettier --write

refactor: structure folders based on chains
  src/chains/evm/common/constants/abi/bridge-router-spoke-abi.ts
  src/chains/evm/common/constants/abi/erc-20-abi.ts
  src/chains/evm/common/constants/abi/index.ts
  src/chains/evm/common/constants/abi/spoke-common-abi.ts
  src/chains/evm/common/constants/abi/spoke-token-abi.ts
  src/chains/evm/common/constants/chain.ts
  src/chains/evm/common/constants/index.ts
  src/chains/evm/common/types/chain.ts
  src/chains/evm/common/types/contract.ts
  src/chains/evm/common/types/index.ts
  src/chains/evm/common/types/module.ts
  src/chains/evm/common/utils/chain.ts
  src/chains/evm/common/utils/contract.ts
  src/chains/evm/common/utils/index.ts
  src/chains/evm/common/utils/provider.ts
  src/chains/evm/hub/constants/abi/account-manager-abi.ts
  src/chains/evm/hub/constants/abi/bridge-router-hub-abi.ts
  src/chains/evm/hub/constants/chain.ts
  src/chains/evm/hub/constants/index.ts
  src/chains/evm/hub/modules/folks-hub-account.ts
  src/chains/evm/hub/modules/folks-hub-loan.ts
  src/chains/evm/hub/types/account.ts
  src/chains/evm/hub/types/chain.ts
  src/chains/evm/hub/types/index.ts
  src/chains/evm/hub/types/token.ts
  src/chains/evm/hub/utils/chain.ts
  src/chains/evm/hub/utils/contract.ts
  src/chains/evm/hub/utils/index.ts
  src/chains/evm/spoke/modules/folks-evm-account.ts
  src/chains/evm/spoke/modules/folks-evm-loan.ts
  src/common/types/module.ts
  src/common/utils/adapter.ts
  src/common/utils/messages.ts
  src/index.ts
  src/xchain/core/folks-core.ts
  src/xchain/modules/folks-account.ts
  src/xchain/modules/folks-loan.ts
Due: eslint --cache --fix, prettier --write

refactor: move specific logic in correct folders
  src/chains/evm/common/constants/abi/index.ts
  src/chains/evm/common/utils/contract.ts
  src/chains/evm/hub/constants/abi/index.ts
  src/chains/evm/hub/utils/contract.ts
  src/chains/evm/spoke/constants/abi/bridge-router-spoke-abi.ts
  src/chains/evm/spoke/constants/abi/index.ts
  src/chains/evm/spoke/constants/abi/spoke-common-abi.ts
  src/chains/evm/spoke/constants/abi/spoke-token-abi.ts
  src/chains/evm/spoke/modules/folks-evm-account.ts
  src/chains/evm/spoke/modules/folks-evm-loan.ts
  src/chains/evm/spoke/utils/contract.ts
Due: eslint --cache --fix, prettier --write

docs: add example
  examples/main.ts
  package.json
  tsconfig.build.json
  tsconfig.json
Due: eslint --cache --fix, prettier --write

build: setup exports
  package.json
  src/chains/evm/hub/modules/index.ts
  src/chains/evm/spoke/modules/index.ts
  src/index.ts
  src/xchain/modules/folks-account.ts
  src/xchain/modules/folks-loan.ts
  src/xchain/modules/index.ts
Due: eslint --cache --fix, prettier --write

build: fix exports order
  package.json
Due: prettier --write

fix: explicitly set contract getters return type
  src/chains/evm/hub/utils/contract.ts
  src/chains/evm/spoke/utils/contract.ts
Due: eslint --cache --fix, prettier --write

refactor: make clear the link between signer and selectedFolksChainId
  examples/main.ts
  src/common/types/core.ts
  src/xchain/core/folks-core.ts
  src/xchain/modules/folks-account.ts
  src/xchain/modules/folks-loan.ts
Due: eslint --cache --fix, prettier --write

refactor: return actual signer alone
  src/common/types/core.ts
  src/xchain/core/folks-core.ts
  src/xchain/modules/folks-account.ts
  src/xchain/modules/folks-loan.ts
Due: eslint --cache --fix, prettier --write

refactor: call getter
  src/xchain/core/folks-core.ts
Due: eslint --cache --fix, prettier --write

refactor: make clear the link between signer and selectedFolksChainId (#6)
  examples/main.ts
  src/common/types/core.ts
  src/xchain/core/folks-core.ts
Due: eslint --cache --fix, prettier --write

chore: setup import linting
  eslint.config.js
  examples/main.ts
  package.json
  pnpm-lock.yaml
  src/chains/evm/common/constants/chain.ts
  src/chains/evm/common/types/module.ts
  src/chains/evm/common/utils/contract.ts
  src/chains/evm/common/utils/provider.ts
  src/chains/evm/hub/constants/chain.ts
  src/chains/evm/hub/modules/folks-hub-account.ts
  src/chains/evm/hub/modules/folks-hub-loan.ts
  src/chains/evm/hub/types/chain.ts
  src/chains/evm/hub/types/token.ts
  src/chains/evm/hub/utils/chain.ts
  src/chains/evm/hub/utils/contract.ts
  src/chains/evm/spoke/modules/folks-evm-account.ts
  src/chains/evm/spoke/modules/folks-evm-loan.ts
  src/chains/evm/spoke/utils/contract.ts
  src/common/constants/chain.ts
  src/common/types/address.ts
  src/common/types/chain.ts
  src/common/types/core.ts
  src/common/types/message.ts
  src/common/types/token.ts
  src/common/utils/adapter.ts
  src/common/utils/address.ts
  src/common/utils/bytes.ts
  src/common/utils/chain.ts
  src/common/utils/messages.ts
  src/xchain/core/folks-core.ts
  src/xchain/modules/folks-account.ts
  src/xchain/modules/folks-loan.ts
Due: eslint --cache --fix, prettier --write

feat: export common constants from the package
  src/index.ts
Due: eslint --cache --fix, prettier --write

feat(constants): added testnet constants for smart contracts addresses and ids
  .gitignore
  src/chains/evm/common/constants/chain.ts
  src/chains/evm/hub/constants/chain.ts
  src/chains/evm/hub/types/chain.ts
  src/common/constants/chain.ts
Due: eslint --cache --fix, prettier --write

chore: lint and format
  src/chains/evm/common/constants/chain.ts
  src/common/constants/chain.ts
Due: eslint --cache --fix, prettier --write

feat: add testnet constants for smart contracts addresses and ids (#7)
  .gitignore
  src/chains/evm/common/constants/chain.ts
  src/chains/evm/hub/constants/chain.ts
  src/chains/evm/hub/types/chain.ts
  src/common/constants/chain.ts
Due: eslint --cache --fix, prettier --write

refactor: remove barrel files except for modules
  examples/main.ts
  src/chains/evm/common/constants/abi/index.ts
  src/chains/evm/common/constants/chain.ts
  src/chains/evm/common/constants/index.ts
  src/chains/evm/common/types/module.ts
  src/chains/evm/common/utils/contract.ts
  src/chains/evm/common/utils/index.ts
  src/chains/evm/common/utils/provider.ts
  src/chains/evm/hub/constants/abi/index.ts
  src/chains/evm/hub/constants/chain.ts
  src/chains/evm/hub/constants/index.ts
  src/chains/evm/hub/modules/folks-hub-account.ts
  src/chains/evm/hub/modules/folks-hub-loan.ts
  src/chains/evm/hub/types/chain.ts
  src/chains/evm/hub/types/index.ts
  src/chains/evm/hub/types/token.ts
  src/chains/evm/hub/utils/chain.ts
  src/chains/evm/hub/utils/contract.ts
  src/chains/evm/hub/utils/index.ts
  src/chains/evm/spoke/constants/abi/index.ts
  src/chains/evm/spoke/modules/folks-evm-account.ts
  src/chains/evm/spoke/modules/folks-evm-loan.ts
  src/chains/evm/spoke/utils/contract.ts
  src/common/constants/chain.ts
  src/common/constants/index.ts
  src/common/types/chain.ts
  src/common/types/index.ts
  src/common/types/message.ts
  src/common/types/module.ts
  src/common/utils/adapter.ts
  src/common/utils/address.ts
  src/common/utils/bytes.ts
  src/common/utils/chain.ts
  src/common/utils/index.ts
  src/common/utils/messages.ts
  src/index.ts
  src/xchain/core/folks-core.ts
  src/xchain/modules/folks-account.ts
  src/xchain/modules/folks-loan.ts
Due: eslint --cache --fix, prettier --write

refactor: remove barrel files except for modules (#8)
  examples/main.ts
  src/chains/evm/common/constants/abi/index.ts
  src/chains/evm/common/constants/chain.ts
  src/chains/evm/common/constants/index.ts
  src/chains/evm/common/types/module.ts
  src/chains/evm/common/utils/contract.ts
  src/chains/evm/common/utils/index.ts
  src/chains/evm/common/utils/provider.ts
  src/chains/evm/hub/constants/abi/index.ts
  src/chains/evm/hub/constants/chain.ts
  src/chains/evm/hub/constants/index.ts
  src/chains/evm/hub/modules/folks-hub-account.ts
  src/chains/evm/hub/modules/folks-hub-loan.ts
  src/chains/evm/hub/types/chain.ts
  src/chains/evm/hub/types/index.ts
  src/chains/evm/hub/types/token.ts
  src/chains/evm/hub/utils/chain.ts
  src/chains/evm/hub/utils/contract.ts
  src/chains/evm/hub/utils/index.ts
  src/chains/evm/spoke/constants/abi/index.ts
  src/chains/evm/spoke/modules/folks-evm-account.ts
  src/chains/evm/spoke/modules/folks-evm-loan.ts
  src/chains/evm/spoke/utils/contract.ts
  src/common/constants/chain.ts
  src/common/constants/index.ts
  src/common/types/chain.ts
  src/common/types/index.ts
  src/common/types/message.ts
  src/common/types/module.ts
  src/common/utils/adapter.ts
  src/common/utils/address.ts
  src/common/utils/bytes.ts
  src/common/utils/chain.ts
  src/common/utils/index.ts
  src/common/utils/messages.ts
  src/index.ts
  src/xchain/core/folks-core.ts
  src/xchain/modules/folks-account.ts
  src/xchain/modules/folks-loan.ts
Due: eslint --cache --fix, prettier --write

build: export CHAIN_VIEM
  examples/main.ts
  src/index.ts
Due: eslint --cache --fix, prettier --write

refactor: added decimals to token data and removed listed token type
  src/chains/evm/common/types/module.ts
  src/chains/evm/hub/types/token.ts
  src/common/types/token.ts
Due: eslint --cache --fix, prettier --write

Added decimals to token data and removed listed token type (#9)
  src/chains/evm/common/types/module.ts
  src/chains/evm/hub/types/token.ts
  src/common/types/token.ts
Due: eslint --cache --fix, prettier --write

fix: add get signer account
  src/chains/evm/common/utils/chain.ts
  src/chains/evm/common/utils/contract.ts
  src/chains/evm/spoke/modules/folks-evm-account.ts
  src/chains/evm/spoke/modules/folks-evm-loan.ts
Due: eslint --cache --fix, prettier --write

fix: account manager address format
  src/chains/evm/hub/utils/contract.ts
Due: eslint --cache --fix, prettier --write

fix: account manager address format (#11)
  src/chains/evm/hub/utils/contract.ts
Due: eslint --cache --fix, prettier --write

fix: add get signer account (#10)
  src/chains/evm/common/utils/chain.ts
  src/chains/evm/common/utils/contract.ts
  src/chains/evm/spoke/modules/folks-evm-account.ts
  src/chains/evm/spoke/modules/folks-evm-loan.ts
Due: eslint --cache --fix, prettier --write

fix: add sender in account modules prepare methods
  src/chains/evm/spoke/modules/folks-evm-account.ts
  src/xchain/modules/folks-account.ts
Due: eslint --cache --fix, prettier --write

fix: fix: add sender in loan modules prepare methods
  src/chains/evm/spoke/modules/folks-evm-loan.ts
  src/xchain/modules/folks-loan.ts
Due: eslint --cache --fix, prettier --write

refactor: update token data types
  src/chains/evm/hub/types/token.ts
  src/common/types/token.ts
Due: eslint --cache --fix, prettier --write

refactor: enforce chains constants and types
  src/chains/evm/common/constants/chain.ts
  src/chains/evm/common/types/chain.ts
  src/chains/evm/common/utils/provider.ts
  src/common/constants/chain.ts
Due: eslint --cache --fix, prettier --write
