Repository Folks-Finance/folks-finance-xchain-js-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

feat: estimate ccip token adapter gas
  src/common/utils/messages.ts
Due: eslint --cache --fix, prettier --write

feat: estimate ccip token adapter gas (#88)
  src/common/utils/messages.ts
Due: eslint --cache --fix, prettier --write

fix: fixed approval of create loan and deposit
  src/chains/evm/common/types/module.ts
  src/chains/evm/spoke/modules/folks-evm-loan.ts
  src/common/types/module.ts
  src/xchain/modules/folks-loan.ts
Due: eslint --cache --fix, prettier --write

refactor: remove extra gas
  src/chains/evm/spoke/modules/folks-evm-loan.ts
Due: eslint --cache --fix, prettier --write

refactor: rename variable
  src/xchain/modules/folks-loan.ts
Due: eslint --cache --fix, prettier --write

fix: fixed approval of create loan and deposit (#89)
  src/chains/evm/common/types/module.ts
  src/chains/evm/spoke/modules/folks-evm-loan.ts
  src/common/types/module.ts
  src/xchain/modules/folks-loan.ts
Due: eslint --cache --fix, prettier --write

refactor: deployed new contracts
  src/chains/evm/hub/constants/chain.ts
  src/common/constants/chain.ts
Due: eslint --cache --fix, prettier --write

refactor: supported message adapters
  examples/main.ts
  src/common/utils/adapter.ts
Due: eslint --cache --fix, prettier --write

refactor: deployed new contracts (#90)
  src/chains/evm/hub/constants/chain.ts
  src/common/constants/chain.ts
Due: eslint --cache --fix, prettier --write

refactor: supported message adapters (#91)
  examples/main.ts
  src/common/utils/adapter.ts
Due: eslint --cache --fix, prettier --write

ci: setup package versioning and release with changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: setup package versioning and release with changesets (#92)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add metadata in package.json
  package.json
Due: prettier --write

docs: update README and CONTRIBUTING
  CONTRIBUTING.md
  README.md
Due: none

docs: update README and CONTRIBUTING (#93)
  CONTRIBUTING.md
  README.md
Due: none

chore: set LICENSE
  LICENSE.md
  package.json
Due: prettier --write

docs: fix install commands
  README.md
Due: none

docs: add image on readme
  README.md
Due: none

fix: create loan and deposit as send token action
  src/common/types/message.ts
Due: eslint --cache --fix, prettier --write

style: add changeset
  .changeset/long-ears-fold.md
Due: none

fix: create loan and deposit as send token action (#94)
  .changeset/long-ears-fold.md
  src/common/types/message.ts
Due: eslint --cache --fix, prettier --write

ci: update text of versioning commits
  .github/workflows/release.yml
Due: none

chore: update repo image
  README.md
  media/repo-header.png
Due: none

feat: wait operation ids
  src/common/utils/messages.ts
  src/common/utils/transaction.ts
Due: eslint --cache --fix, prettier --write

style: add changeset
  .changeset/rich-cameras-fail.md
Due: none

feat: wait operation ids (#96)
  .changeset/rich-cameras-fail.md
  src/common/utils/messages.ts
  src/common/utils/transaction.ts
Due: eslint --cache --fix, prettier --write

feat: added util to create empty loan for simulate
  .changeset/stale-kids-cheat.md
  src/xchain/modules/folks-loan.ts
Due: eslint --cache --fix, prettier --write

chore: mark change as patch
  .changeset/stale-kids-cheat.md
Due: none

feat: added util to create empty loan for simulate (#98)
  .changeset/stale-kids-cheat.md
  src/xchain/modules/folks-loan.ts
Due: eslint --cache --fix, prettier --write

chore: export transaction utils
  .changeset/curly-pears-obey.md
  src/index.ts
Due: eslint --cache --fix, prettier --write

fix: added fixed gas limit estimate increase
  .changeset/blue-teachers-brush.md
  src/chains/evm/common/constants/contract.ts
  src/chains/evm/hub/modules/folks-hub-gmp.ts
  src/chains/evm/hub/modules/folks-hub-loan.ts
  src/chains/evm/spoke/modules/folks-evm-account.ts
  src/chains/evm/spoke/modules/folks-evm-gmp.ts
  src/chains/evm/spoke/modules/folks-evm-loan.ts
Due: eslint --cache --fix, prettier --write

fix(increase adatper receive gas limit): increase adatper receive gas limit"
  src/common/utils/messages.ts
Due: eslint --cache --fix, prettier --write

refactor: move estimate to prepare
  src/chains/evm/hub/modules/folks-hub-gmp.ts
  src/chains/evm/hub/modules/folks-hub-loan.ts
  src/chains/evm/spoke/modules/folks-evm-account.ts
  src/chains/evm/spoke/modules/folks-evm-gmp.ts
  src/chains/evm/spoke/modules/folks-evm-loan.ts
Due: eslint --cache --fix, prettier --write

fix: added fixed gas limit to source and adapter estimates (#101)
  .changeset/blue-teachers-brush.md
  src/chains/evm/common/constants/contract.ts
  src/chains/evm/hub/modules/folks-hub-gmp.ts
  src/chains/evm/hub/modules/folks-hub-loan.ts
  src/chains/evm/spoke/modules/folks-evm-account.ts
  src/chains/evm/spoke/modules/folks-evm-gmp.ts
  src/chains/evm/spoke/modules/folks-evm-loan.ts
  src/common/utils/messages.ts
Due: eslint --cache --fix, prettier --write

docs: add badges on readme
  README.md
Due: none

feat: export formulae for converting between underlying and f amount
  .changeset/pretty-beds-argue.md
  src/index.ts
Due: eslint --cache --fix, prettier --write

feat: export formulae for converting between underlying and f amount (#103)
  .changeset/pretty-beds-argue.md
  src/index.ts
Due: eslint --cache --fix, prettier --write

fix: add amount to msg value for repay
  .changeset/metal-jobs-invite.md
  src/chains/evm/spoke/modules/folks-evm-loan.ts
Due: eslint --cache --fix, prettier --write

fix: add amount to msg value for repay (#105)
  .changeset/metal-jobs-invite.md
  src/chains/evm/spoke/modules/folks-evm-loan.ts
Due: eslint --cache --fix, prettier --write

refactor: loan manager user loan type
  src/chains/evm/hub/modules/folks-hub-loan.ts
  src/chains/evm/hub/types/loan.ts
  src/xchain/modules/folks-loan.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.json)
